<template name="createProject">
    <div class="main">
        {{#autoForm collection="Projects" id="projectInsertForm" type="insert"}}
            <fieldset>
                {{> afQuickField name="projectName"  template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}
                {{> afQuickField name="clientName"  template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}
                {{> afQuickField name="responsible"  template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </fieldset>
        {{/autoForm}}
    </div>
</template>

